<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Pinterest</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav>
        <div id="logo">
            <h2>Pinterest</h2>
            </div>
            <div id="nav-items">
                <h4><a href="/feed">Feed</a></h4>
                <h4><a href="/login">Log In</a></h4>
                <h4><a href="/setting">Setitng</a></h4>
        </div>
    </nav>
    <form action="/register" method="post">
        <div class="container">
            <div class="content">
                <img src="/images/bgimg.jpg" alt="pin logo" class="img1" />
                <input type="email" placeholder="Email" name="email" class="detail" /><br />
                <input type="text" placeholder="Username" name="username" class="detail" /><br />
                <input type="text" placeholder="Full Name" name="fullname" class="detail" /><br />
                <input type="password" placeholder="Password" name="password" class="detail" >
                <button class="btn int">Sign Up</button>
            </div>
        </div>
    </form>
</body>



</html>